.mePic{
    float: right;
    max-width: 30%;
    max-height: 30%;
    padding: 0 0 20px 20px;
}
.meExPic{
    float: right;
    max-width: 30%;
    max-height: 30%;
    padding: 0 0 20px 20px;
}

.keepHome{
    margin: auto;
    width: 70%;
    margin-top: 40px;
}

.homeBig{
    font-size: 1.3em;
}

.homeText{
    text-align: left;
    font-size: 1.2em;
    line-height: 2.5em;
    font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
}

.ind{
    text-indent: 2em;
    margin-bottom: 30px;
}

.caroContainer{
    border: rgb(231, 115, 129) ;
    border-style: inset;
    width: 65%;
    margin: auto;
    color: transparent; 
}

.caroSpace{
    padding: 50px;
    margin: auto;
}

.carousel-item {
    height: 500px;
    overflow: hidden;
    width: 100%;
    }
